h1{
    font-family: $font-title;
}

.hero {
  width: 100%;
  height: 40vh; 
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.intro__p{
    padding: 40px;
    background-color: $c-alt;
    color: $c-text-b;
    font-size: $size-text;
}