// organisation d'un bloc/ d'une section

.hero {
  width: 100%;
  height: 40vh; 
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}
.menu__liste {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  margin: 0;
  padding: 100px 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: $c-text;
  z-index: 10;
  transform: translateX(100%);
  transition: transform 0.4s ease;
}
.menu__toggle{
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 20;
  border-radius: 10px;
  padding: 10px;
  background-color: $c-text-b;
  border: solid 1px $c-text;
}
.menu--open .menu__liste {
  transform: translateX(0);
}
.menu__el{
  a {
    color: $c-text-b;
    text-decoration: none;
    font-size: $size-text-t;
    &.active{
      color: $c-f1;
      text-decoration: underline;
      text-underline-offset: 6px;
    }
  }
}
.btn-retour {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px;
  background: rgba(174, 174, 174, 0.9);
  color: $c-text;
  text-decoration: none;
  border-radius: 15px;
  font-family: $font-body;
  z-index: 20;
}
.pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-top: 3px solid $c-f1;
  &__link {
    font-size: 2rem;
    text-decoration: none;
    color: black;
  }
}

.footer {
  position: relative;
  padding: 5px 16px 16px;
  text-align: center;

  &::before {
    content: "";
    display: block;
    width: 200px;
    height: 4px;
    background-color: $c-f1;
    margin: 40px auto 20px auto;
    border-radius: 5px;
  }

  &__social,
  &__infos {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 16px;
    flex-wrap: wrap;
  }

  & a{
    color: black;
    text-decoration: none;
  }
}
.transition {
  position: fixed;
  inset: 0;
  background: $c-alt;
  z-index: 9999;
  transform: translateY(100%);
  transition: transform 1s cubic-bezier(0.83, 0, 0.17, 1);
  pointer-events: none;
  &.transition__show{
    transform: translateY(0);
  }
}

@media (min-width: 768px){
  .hero{
    height: 80vh;
  }
  .pages{
    margin-left: 20px;
    gap: 5px;
    flex-direction: row;
    justify-content: center;
    .item{
      width: 45%;
    }
  }
  .menu__toggle{
    display: none;
  }
  .menu__liste{
    position: fixed;
    top: 0;
    left: 0;
    right: auto;
    width: 100%;
    height: auto;
    min-height: 60px;
    margin: 0;
    padding: 1rem;
    flex-direction: row;
    gap: 50px;
    transform: none;
    transition: none;
    background-color: $c-text;
    justify-content: center;
  }
  .menu__el a {
    font-size: 2.5rem;
  }
  .btn-retour{
    top: 50px;
  }
  .btn-retour:hover{
    background-color: #dad9d9;
    color: $c-f1;
  }
  .pages__link:hover{
    color: $c-f1;
    text-decoration: underline;
  }
  .footer a:hover{
    color: $c-f1;
  }
}

@media (min-width: 1024px){
  .hero{
    height: 85vh;
  }
  .btn-retour{
    font-size: $size-text-d;
    top: 80px;
    left: 50px;
  }
  .pages{
    gap: 50px;
  }
  .menu__el a {
    font-size: 3rem;
  }
  .intro__p strong {
    font-weight: 800;
    display: block;
  }
}