.heading {
  &--h1 {
    font-family: $font-title;
    font-size: $size-title-m;
    text-align: center;
  }

  &--h2 {
    font-family: $font-subtitle;
    font-size: $size-subtitle-m;
  }
}

@media (min-width: 768px){
  .heading{
    &--h1{
      font-size: $size-title-t;
      text-align: left;
      margin-left: 40px;
      padding-bottom: 150px;
    }
    &--h2{
      font-size: $size-subtitle-t;
    }
  }
}

@media (min-width: 1024px){
  .heading{
    &--h1{
      font-size: $size-title-d;
    }
    &--h2{
      font-size: $size-subtitle-d;
    }
  }
}