.heading {
  &--h1 {
    font-family: $font-title;
    font-size: $size-title-m;
    text-align: center;
  }

  &--h2 {
    font-family: $font-subtitle;
    font-size: $size-subtitle-m;
  }
}

@media (min-width: 768px){

}

@media (min-width: 1024px){
  .heading{
    &--h1{
      font-size: $size-title-d;
    }
  }
}