
.intro__p{
  padding: 40px;
  background-color: $c-alt;
  color: $c-text-b;
  margin-left: 0;
}

.role {
  position: relative;
  padding-left: 2.5rem;

  &::before {
    content: "";
    position: absolute;
    left: 3.5rem;
    top: 10rem;      
    bottom: -0.2rem; 
    width: 3px;
    background-color: $c-f1;
    border-radius: 99px;
  }
}
@media (min-width: 768px){
  .intro__p{
    margin: 0;
    font-size: $size-subtitle-t;
    padding: 60px;
  }
  .role{
    padding-left: 15rem;
    padding-right: 10rem;
    &::before{
      left: 16rem;
    }
  }
}

@media (min-width: 1024px){
  .intro__p{
    margin: 0;
    font-size: $size-text-intro;
    padding: 100px;
  }
  .intro__p strong {
    font-weight: 800;
    display: block;
  }
  .strong{
    font-size: $size-title-d;
    padding-bottom: 10px;
  }
  .role{
    padding-left: 20rem;
    padding-right: 30rem;
    &::before{
      left: 20.5rem;
    }
  }
}