.btn-retour--credit{
    top: 20px;
    left: 20px;
    padding: 10px;
    position: fixed;
    text-decoration: none;
    background-color: rgba(216, 214, 214, 0.9);
    color: $c-text;
    border-radius: 15px;
    font-family: $font-body;
}

.heading--h1c{
    margin-top: 80px;
    font-family: $font-title;
    text-align: center;
    justify-content: center;
    display: flex;
}

.credit{
    background-color: $c-alt;
    color: $c-text-b;
}

.a__credit{
    color: $c-text-b;
    margin-left: 30px;
}

.heading--h2c{
    margin-left: 30px;
}

.p__credit{
    margin-right: 30px;
    margin-bottom: 20px;
}
.btn-retour--credit:hover{
    background-color: $c-bg;
    color: $c-f1;
}

@media (min-width: 768px){
    .heading--h1c{
        font-size: $size-title-t;
    }
    .heading--h2c{
        font-size: $size-subtitle-t;
    }
    .p__credit, .a__credit{
        font-size: $size-text-t;
    }
    .p__credit, .heading--h2c, .a__credit{
        margin-left: 150px;
    }
}

@media (min-width: 1024px){
    .heading--h1c{
        font-size: $size-title-d;
    }
    .heading--h2c{
        font-size: $size-subtitle-d;
    }
    .p__credit, .a__credit{
        font-size: $size-text-d;
    }
    .p__credit, .heading--h2c, .a__credit{
        margin-left: 200px;
    }
}