.body {
  margin: 0;
  background-color: $c-alt;
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.scene {
  position: relative;
  width: 1280px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Zone centrale */
.car-target {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.3);
}

/* NODE SYSTEM */
.node {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;

  .dot {
    width: 30px;
    height: 30px;
    background: $c-bg;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    animation: float 4s ease-in-out infinite;
    transition: all 0.3s ease;
  }

  .label {
    position: absolute;
    left: 45px;
    top: 2px;
    color: $c-text-b;
    opacity: 0;
    transition: 0.3s;
    white-space: nowrap;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Formula1 Display Wide', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .connector-svg {
    position: absolute;
    overflow: visible;
    pointer-events: none;

    path {
      stroke-linecap: round;
    }
  }

  .line {
    fill: none;
    stroke: $c-bg;
    stroke-width: 3;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    transition: stroke-dashoffset 0.5s ease-out;
  }

  &:hover {
    .dot {
      background: $c-f1;
      box-shadow: 0 0 20px $c-f1;
      animation-play-state: paused;
    }

    .label {
      opacity: 1;
      transform: translateX(5px);
    }

    .line {
      stroke-dashoffset: 0;
    }
  }
}

/* FLOAT */
@keyframes float {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(5px, -15px);
  }
}

/* POSITIONS SPECIFIQUES */
#impact {
  top: 60px;
  left: 30px;

  .connector-svg {
    top: 10px;
    left: 15px;
  }
}

#paddock {
  top: 250px;
  right: 100px;

  .connector-svg {
    left: auto;
    right: 0;
    top: 10px;
  }

  .label {
    right: 70px;
    left: auto;
  }
}

#setup {
  bottom: 130px;
  left: 340px;

  .connector-svg {
    left: 10px;
    top: -70px;
  }

  .label {
    right: 50px;
    left: auto;
  }
}

#career {
  top: 80px;
  right: 450px;

  .connector-svg {
    right: -90px;
    top: -10px;
  }
}

/* SVG F1 */
.f1 {
  width: 1050px;
  height: auto;
}

h1 {
  margin-top: auto;
  text-align: center;
  color: $c-text-b;
  font-family: 'Formula1 Display Wide', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 50px;
}