.body{
    background-color: $c-alt;
}

.scene{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.signature {
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: $c-text-b;
    font-family: $font-title;
}