.intro__p{
  padding: 40px;
  background-color: $c-alt;
  color: $c-text-b;
}

.li__puce{
    margin-top: 5px; 
    
    &::before{
        content: "🛞";
        margin-right: 8px;
        font-size: 1.3rem;
    }
}

.ul__puce{
    margin-left: 30px;
}

.num::after {
  content: "";
  display: inline-block;
  width: 120px;
  height: 3px;
  background: $c-f1;
  margin-left: 12px;
  border-radius: 99px;
}