
.li__puce{
    margin-top: 5px; 
    
    &::before{
        content: "🛞";
        margin-right: 8px;
        font-size: 1.3rem;
    }
}

.ul__puce{
    margin-left: 30px;
}

.num::after {
  content: "";
  display: inline-block;
  width: 120px;
  height: 3px;
  background: $c-f1;
  margin-left: 12px;
  border-radius: 99px;
}

@media (min-width: 768px){
  .ul__puce, .p__pad{
    margin: 0;
  }
  section{
    padding-left: 15rem;
    padding-right: 15rem;
  }
  .num::after{
    width: 200px;
  }
  .li__puce{
    &::before{
        content: "🛞";
        margin-right: 8px;
        font-size: 1.5rem;
    }
  }
}

@media (min-width: 1024px){
  section{
    padding-left: 40rem;
    padding-right: 30rem;
  }
  .num::after{
    width: 250px;
  }
  .li__puce{
    &::before{
        content: "🛞";
        margin-right: 8px;
        font-size: 1.8rem;
    }
  }
}