.section {
  padding: 20px;

  .heading--h2s {
    margin-bottom: 10px;
  }

  .section__content-wrapper {
    background-color: $c-alt;
    color: $c-text-b;

    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);

    padding: 20px;
  }
  li{
    margin-top: 10px;
  }
}
.p__normal{
    margin: 0;
}
.p__normal--rs{
    margin-left: 0;
    margin-top: 0;
  }
body {
    position: relative;
    overflow-x: hidden;

    .circuit-line {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;
        opacity: 0.2;

        .track {
            fill: none;
            stroke: $c-f1;
            stroke-linecap: round;
            stroke-linejoin: round;
        }

        .outer {
            stroke: $c-f1;
            stroke-width: 4;
        }

        .inner {
            stroke-width: 2;
            stroke-dasharray: 12 8;
      }
    }
}

@media (min-width: 768px){
  .section__content{
      padding: 15px 150px;
      margin: 0;
  }
  .heading--h2s{
      margin-left: 150px;
      padding-top: 60px;
  }
  .p__normal--rs{
      margin: 0px 150px;
  }
}

@media (min-width: 1024px){
  .section__content{
    padding: 30px 300px;
    margin: 0;
  }
  .heading--h2s{
    margin-left: 300px;
    font-size: $size-subtitle-d;
  }
  .p__normal, .p__normal--rs{
    font-size: 2.5rem;
  }
  .p__normal--rs{
    margin: 0px 300px;
  }
}