.section {
  padding: 20px;

  .heading--h2 {
    margin-bottom: 10px;
  }

  .section__content-wrapper {
    background-color: $c-alt;
    color: $c-text-b;

    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);

    padding: 20px;
  }
  li{
    margin-top: 10px;
  }
  ul{
    margin-left: 20px;
  }
}
.p__normal{
    margin: 0;
}