// règle globales

body{
  font-size: $size-text-m;
  font-family: $font-body;
  line-height: 1.4;
}

section{
  padding: 20px;
}

p{
  margin-top: 20px;
  margin-left: 30px;
}

@media (min-width : 768px){

}

@media (min-width : 1024px){
  body{
    font-size: $size-text-d;
  }
}