$c-bg: #FFFFFF;
$c-alt: #31313A;
$c-text: #000000;
$c-text-b: #ffffff;
$c-f1: #F80000;

$font-title: 'Formula1 Wide';
$font-subtitle: 'Quan Subtitle';
$font-body: 'Quan';

$size-text-m: 1.6rem;
$size-subtitle-m: 2.5rem;
$size-title-m: 2.5rem; // hiérarchie : 3.6rem mais police qui prend bcq de place
$size-text-t: 1.8rem;
$size-subtitle-t: 2.7rem;
$size-title-t: 4.1rem; // hiérarchie : 4.1rem
$size-text-d: 2rem;
$size-subtitle-d: 3rem;
$size-title-d: 3.5rem; //hiérarchie : 4.5rem